# Drizzle
DATABASE_URL=file:local.db

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# HuShi AI
HUSHI_LLM_MODEL=""
PIPELINE_LLM_MODEL=""
MENGLONG_BASE_URL="http://localhost:8000/menglong"
MENGLONG_API_KEY=""

# Debug Toggle (显示界面 DEBUG 按钮和详细日志)
HUSHI_LLM_DEBUG=true
